* {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    /* border: 2px solid red; */
}

#left {
    width: 23%;
    height: 100vh;
    /* border: 2px solid red; */
    /* display: flex; */
}

#right {
    width: 60%;
    height: 100vh;
    /* border: 2px solid blue; */
}

#name {
    /* border: 2px solid red; */
    margin-top: 9px;
    font-size: 12px;
    padding-left: 20px;
    color: blue;
    width: 50%;
    height: 6%;
    margin-left: 18px;
    background-color: rgb(224, 250, 255);
}

#name p{
    /* border: 2px solid red; */
    /* margin-top: 5px; */
    font-size: 15px;
    color: black;

}


/* hamburger-menu-start */

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    height: 20px;
    margin-top: -30px;
    margin-left: 50%;
  }
  
  .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 2px;
  }
  

/* hamburger-menu-end */


#search {
    display: block;
    margin-top: 20px;
}

#search input {
    width: 200px;
    height: 30px;
    border-radius: 6px;
}

#search img {
    width: 20px;
    /* border: 2px solid red; */
  
}

#top h1 {
    position: relative;
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 38px;
    color: rgb(37, 36, 35);
    font-family: "SF Semilight", "Segoe System UI Semilight", "Segoe UI Semilight", sans-serif;
    cursor: inherit;
    font-weight: lighter;
    /* border: 2px solid red; */
    /* text-align: center; */

}

#top {
    padding-top: 40px;
    padding-left: 200px;
    /* border: 2px solid red; */
    align-items: center;

}

.notes {
    margin-top: 35px;
    margin-left: 100px;
}

.notes h3 {
    position: relative;
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 22px;
    font-family: "SF Semilight", "Segoe System UI Semilight", "Segoe UI Semilight", sans-serif;
    color: rgb(37, 36, 35);
    margin: 10px;
    cursor: inherit;
    font-weight: lighter;
}

.sections {
    /* border: 2px solid red; */
    margin-bottom: 80px;    
    display: flex;
    height: 65vh;
    width: 92%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: auto;
}

.section-1 {
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
}

.section-2 {
    /* border: 2px solid red; */
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#title {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

#no-title {
    /* border: 2px solid red; */
    width: 70%;
   text-align: center;
   /* align-items: center; */
   margin-top: 20px;
   padding-left: 60px;
}

.sections button {
    width: 35%;
    height: 38px;
    border-radius: 10px;
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* overflow: hidden;
    align-items: stretch; */
    background: linear-gradient(135deg, rgb(9, 154, 222), rgb(16, 84, 173));
    /* min-height: 40px; */
    /* inset: 0px; */
    color: white;
    margin-top: 25px;
    text-align: center;
   margin-left: 140px;
   cursor: pointer;
}


#all-icon {
    /* border: 2px solid red; */
    width: 80%;
    height: 50px;
   margin-left: 20px;
   margin-top: 10px;
}

#all-icon p {
    font-size: 11px;
    color: rgb(14, 114, 207);
    font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif;
    font-weight: bold;
}

#all-icon {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

#all-icon span {
    align-items: center;
    justify-content: center;
}


/* google-icon-start */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* google-icon-end */


#meet-now {
    /* border: 2px solid red; */
    width: 80%;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

#meet-now button {
    width: 120px;
    height: 33px;
    /* margin: auto; */
    border-radius: 10px;
    margin-right: 16px;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
}

#recent-chats {
    /* border: 2px solid red; */
    margin-left: 20px;
    width: 80%;
    height: 30px;
    margin-top: 14px;
    
}

#chat-image-logo {
    /* border: 2px solid red; */
    height: 55vh;
    margin-left: 20px;
    margin-top: 14px;
}

#chat-image-logo img {
    width: 170px;
    margin-top: 15px;
    margin-left: 60px;
}

#chat-image-logo h2 {
    /* position: relative;
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word; */
    font-size: 22px;
    font-family: "SF Bold", "Segoe System UI Bold", "Segoe UI Bold", sans-serif;
    font-weight:bolder;
    color: rgb(37, 36, 35);
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: center;
    cursor: inherit;
    margin-right: 50px;

}

#chat-image-logo p {
    margin-top: 5px;
    text-align: center;
    margin-right: 50px;
}

#last-mail {
    /* border: 2px solid red; */
    width: 80%;
    height: 90px;    
    margin-left: 100px;
    margin-top: 7px;
}

#last-mail p {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    /* padding-top: 20px; */
}

#last-mail span {
    color: blue;
}

#last-mail h3 {
    text-align: center;
    margin-top: 10px;
    color: rgb(105, 158, 228);
}
