
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body{
  font-family: 'Open Sans', sans-serif;
  background-color: #E0F7FA;
}

.navbar {
  background-color: #3949AB;
  display: flex;
 
  align-items: center;
  padding: 10px;
  /* border-radius: 5px; */
}
.navbar-brand{
  color: white;
  font-size: 30px;
}

.navbar-brand img {
  cursor: pointer;
  margin-left: 30px;
  height: 60px;
  border-radius: 5px;
}

.navbar-menu {
  margin-right: 30px;
  flex-grow: 1;
  text-align: right;
}

.navbar-menu li {
  font-size: 24px;
  display: inline-block;
  margin: 0 10px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
  cursor: pointer;
  font-size: 25px;
  /* background-color: #ddd; */
  text-decoration: underline;
}

.navbar-user {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-user h2 {
  cursor: pointer;
  margin-left: auto;
  font-size: 20px;
}

.navbar-buttons button {
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #90CAF9;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: #E8EAF6;
  font-size: 20px;
  color:brown;
  font-weight: bolder;
}
#showname{
  margin-top: 9px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
}
#toggerId{
  color: white;
}

/* CSS for medium screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-brand {
    margin-bottom: 20px;
  }


  .navbar-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .navbar-user h2 {
    font-size: 16px;
  }

  .navbar-buttons {
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-login {
    padding: 10px 20px;
    font-size: 18px;

  }
}

/* CSS for small screens */
@media (max-width: 480px) {
  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-user h2 {
    font-size: 14px;
  }

  .btn-login,
  .btn-signup {
    padding: 8px 16px;
    font-size: 12px;
  }
}

.main-div {

  width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* margin-top: 30px; */
   background-color: #C5CAE9;

  border: 1px solid #CCCCCC;
  border-radius: 10px;
}

.content {

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content div:nth-child(1){
  width: 40%;
}
.image {
  /* border: 1px solid black; */
  width: 100%; /* Set the width of the container */
  height: 500px; /* Set the desired height of the container */
  overflow: hidden; /* Hide any overflowing content */
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.text {
  flex: 1;
  margin-left: 22px;
}

.text h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.text h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.links a {
  margin-top: 20px;
  display: inline-block;
  margin-right: 10px;
  color: #6D4C41;
  font-size: 25px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
  color: black;
}

/* Media Queries */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .text h1 {
    font-size: 30px;
  }

  .text h3 {
    font-size: 22px;
  }

  .image img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .text h1 {
    font-size: 20px;
  }

  .text h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .image img {
    /* max-width: 600px; */
    width: 100%;
  }
  .text p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .links a {
    font-size: 14px;
  }
}
.slideshow {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  /* height: 400px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slideshow img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#main-2 {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  
  justify-content: space-between;
}

.item {
  flex-basis: 30%;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  text-align: center;
  background-color: #C5CAE9;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; */
}

.item:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.item p {
  margin-top: 5px;
  font-size: 18px;
  color: #888;
}

/* Media queries */
@media (max-width: 768px) {
  #main-2 {
    flex-wrap: wrap;
  }

  .item {
    flex-basis: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .item {
    flex-basis: 100%;
  }
}
#main-3 {
  /* border: 1px solid black; */
  background-color: #C5CAE9;
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.left-div {
  flex-basis: 50%;
  padding: 20px;
  background-color: #C5CAE9;
}

.right-div {
  flex-basis: 50%;
  padding: 20px;
}

.left-div h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.left-div h3 {
  font-size: 24px;
  color: #455A64;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  font-size: 18px;
  padding: 20px 35px;
  background-color: #3949AB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover{
 font-weight: bolder;
 cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #42A5F5;
}
.right-div{
  width: 50%;
}
.right-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-div img {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

.right-div img:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  #main-3 {
    flex-wrap: wrap;
  }

  .left-div, .right-div {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .left-div h1 {
    font-size: 20px;
  }

  .left-div h3 {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}
#footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: white;
  background-color: #5D4037;
  padding: 20px;
}

.footer-div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.footer-div a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-div a:hover {
  color: #F9FBE7;
  text-decoration: underline;

}

@media (max-width: 768px) {
  #footer {
    flex-wrap: wrap;
  }

  .footer-div {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .footer-div {
    flex-basis: 100%;
  }
}





#social-media {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5D4037;
}

#first {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

#first h1 {
  margin-bottom: 10px;
}

#first img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

#second {
  margin-left: 230px;
  width: 50%;
}

#second h1 {
  margin-bottom: 10px;
}

#second img {
  width: 60px;
  height: 40px;
  margin-right: 015px;
}

#second p {
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  #second {
    margin-left: 0;
    width: 100%;
  }
  
  #second h1 {
    margin-top: 10px;
  }

  #second img {
    width: 60px;
    height: 40px;
    margin-right: 15px;
  }

  #second p {
    margin-right: 0;
    margin-bottom: 10px;
  }
}




